@{
    ViewData["Title"] = "Add Cat";
}

<h1>Add Cat</h1>
<form action="/cats/add" method="post">
    Name: <input name="Name" type="text" /><br />
    Age: <input name="Age" type="number" /><br />
    Breed: <input name="Breed" type="text" /><br />
    Image Url: <input name="ImageUrl" type="text" /><br />
    <input type="submit" value="Add Cat" />
</form>

